*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
html,body{
    width: 1349px;
    height: 4007px;
    /*overflow: hidden;*/
}
.contain{
    position: relative;
    width: 1349px;
    /*width: 1040px;*/
    height: 4007px;
    float: left;
    overflow:hidden;
    margin: 0 auto;
    background: url("../image/main_bg.png");
}
#fillNav{
    width: 100%;
    height: 25px;
    display: none;
}
.fill{
    width: 100%;
    height: 123px;
}
.wrap{
    width: 100%;
    height: 123px;
    z-index: 2;
}
.header{
    width: 100%;
    height: 97px;
    background: url("../image/header_bg.png") repeat-x;
    border-bottom: 2px solid #000000;
}
.logo{
    float: left;
    width: 70%;
    height: 100%;
}
.logo a{
    display: block;
    float: left;
    width: 100%;
    color: #fff;
}
.logo_t{
    height: 70%;
    font-family: cursive;
    font-size: 55px;
    font-weight: bold;
    padding-left: 200px;
    line-height: 100%;
}
.logo_b{
    height: 30%;
    font-family: Verdana;
    font-size: 20px;
    padding-left: 550px;
    line-height: 100%;
}
.interactive{
    float: left;
    width: 30%;
    height: 100%;
}
.search{
    width: 100%;
    height: 50%;
    padding-left: 50px;
    padding-top: 10px;
}
.search a{
    display: block;
    width: 85px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    position: absolute;
    top:10px;
    right: 55px;
    z-index: 2;
    opacity: 0.1;

}
.search input{
    width: 200px;
    height: 30px;

}
.search .btn{
    width: 90px;
    height: 35px;
    text-align: right;
    background:#000000 url("../image/baidu_bg.png") no-repeat 5px 9px;
    font-size: 16px;
    font-weight: bold;
    color: orangered;
    cursor: pointer;
}
/*input{*/
    /*width: 200px;*/
    /*height: 30px;*/
    /*margin-left: 100px;*/
    /*font-size: 16px;*/
/*}*/
#div1{
    position: absolute;
    left: 995px;
    top:43px;
    width: 200px;
    border: 1px solid #ccc;
    z-index: 5;
    background: white;

}
#div1 ul{
    width: 202px;
    /*position:relative;*/
    /*left: 500px;*/
    /*top:0;*/
}
#div1 ul a{
    display: block;
    float: left;
    width: 100%;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}
/*#btn{*/
    /*display: block;*/
    /*width: 50px;*/
    /*height: 30px;*/
    /*text-align: center;*/
    /*line-height: 30px;*/
    /*text-decoration: none;*/
    /*position: absolute;*/
    /*top:0;*/
    /*right: 0;*/
    /*z-index: 2;*/
    /*opacity: 0.1;*/
/*}*/
/*#btn:hover{*/
    /*background: #ccc;*/
/*}*/
/*#div2{*/
    /*width: 50px;*/
    /*height: 30px;*/
    /*position: relative;*/
    /*top: -32px;*/
    /*left: 310px;*/
/*}*/
#inp{
    width: 50px;
    height: 30px;
    position: absolute;
    top:0;
    right: 0;
    z-index: 1;
}

.user{
    width: 100%;
    text-align: center;
    -padding-top: 10px;
    padding-left: 130px;
}
.user a{
    display: block;
    float: left;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: orangered;
    text-align: center;
    line-height: 30px;
    font-family: sans-serif;
    font-weight: bold;
    background: #494949;
    margin-left: 10px;
}
.nav{
    top:0;
    left: 0;
    width: 100%;
    height: 25px;
    border-bottom: 2px solid black;
    background: url("../image/nav_bg_l.png") repeat;
    z-index: 2;
}
.nav ul{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}
.nav ul li{
    width: 180px;
    height: 100%;
    float: left;
    background: #363636;
    text-align: center;
    line-height: 25px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.nav ul li a.on{
    background: orangered;
}
.nav ul li a:hover{
    background: orangered;
}
.nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    font-family: 微软雅黑;
}
.nav ul li a#a_works,.nav ul li a#a_contact{
    position: relative;
}
.nav ul li div.works,.nav ul li div.contact{
    z-index: 3;
    position: relative;
    top: 0px;
    left: 0px;
    width: 180px;
    height: auto;
    display: none;
}
.works a,.contact a{
    display: block;
    float: left;
    width: 180px;
    height: 24px;
    background: #666;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border-bottom: 1px solid #494949;
}
.works a.color:hover{
    background: blueviolet;
}
.contact a.color:hover{
    background: deeppink;
}
.main{
    position: relative;
    width: 1140px;
    height: auto;
    background: url("../image/main_bg.png") repeat;
    border-top: 2px solid #000000;
    margin: 0 auto;
    margin-top: 1px;
}
main .hash{
    width: 1040px;
    height: 125px;
}
.visible{
	visibility:hidden;
	/*position:absolute;
	left:0;
	top:0;*/
	margin-top:-125px;
	z-index:6;
	}
.hash a{
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 125px;
    text-align: center;
    background: #fff;
    background: forestgreen;
    color: black;
    font-size: 50px;
    font-family: "Microsoft YaHei";
}
.m_home img{
    width: 100%;
    height: 510px;
    border:none;
}
.m_profiles{
    position: relative;
    width: 1140px;
    height: 510px;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;
}
#prev,#next{
    display:none;
    width: 70px;
    height: 100px;
    background: #555555 url("../image/btn_l.png") no-repeat 10px center;
    opacity: .5;
    z-index: 2;
}
#prev{
    background: #555555 url("../image/btn_l.png") no-repeat 10px center;
    position:absolute ;
    left: 0;
    top:205px;

}
#next{
    background: #555555 url("../image/btn_r.png") no-repeat 10px center;
    position:absolute ;
    right: 0;
    top:205px;

}
.m_profiles ul{
    width: 5700px;
    height: 520px;
    position: absolute;
    left: 0;
    top:0;
    -overflow: hidden;

}
.m_profiles ul li{
    float: left;
}
.m_profiles .about{
    width: 1140px;
    height: 520px;
    background: #fff;
    margin: 0 auto;
    border-radius: 5px;
}
.m_profiles .about table{
    margin: 0 auto;
}
.m_profiles .about p.jineng{
	text-align:left;
	
	}
.m_profiles .about h2{
    font-size: 36px;
    color: #000;
    border-left: 10px solid #7fc042;
    padding-left: 20px;
    margin-bottom: 20px;
    height: 36px;
    line-height: 36px;
}
.m_profiles .about p{
    font-size: 28px;
    color: #555;
    margin-bottom: 20px;
}
.main .time{
    position: fixed;
    left: -10px;
    top: 28px;
    width: 150px;
    height: 70px;
    padding-left: 10px;
    margin-top: 5px;
    z-index: 100;
}
.time h3{
    color: #ffffff;
    width: 40px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    background: orangered;
}
.time p{
    width: 110px;
    height: 40px;
    color: orangered;
    font-size: 16px;
    font-weight: bold;
}
.version{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
    width:100px ;
    height: 25px;

}
.version a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: 25px;
    color: #646462;
    font-weight: bold;
}
.m_photos{
    position: relative;
    width: 1140px;
    height: 520px;
    overflow: hidden;
}
.m_photos img{
    width: 1140px;
    height: 520px;
}
.m_photos span{
    position:absolute;
    /*background:url(../image/10.jpg) no-repeat;*/
    background-image:url(../image/10.jpg);width:1140px;height:520px;
    opacity:0;

}
.m_works{
    width: 100%;
    height: 510px;
    position: relative;
    background: white;
}
.m_works div{
    position: relative;
    width: 222px;
    height: 249px;
    float: left;
    margin: 3px;
    overflow: hidden;
    /*background: url("../image/29.jpg") no-repeat;*/
    /*background-size: cover;*/
}
.m_works div span{
    position: absolute;
    top: 0;
    left: -222px;
    width: 100%;
    height: 100%;
    background: #ff759d;
    opacity: .5;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    font-weight: bold;

}
.m_works div span a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 222px;
    color: white;
    font-size: 50px;
}
.m_massage_board{
    width: 100%;
    height: 510px;
    border: 1px solid yellow;
}
.mpic{
    width: 30% ;
    height: 100%;
    float: left;
}
.mpic img{
    width: 100% ;
    height: 100%;
}

#msgBox{width:70%;height:500px;float:left;background:#fff;border-radius:5px;margin:0 auto;padding-top:10px;}
#msgBox form{
    padding-left: 10px;
}
#msgBox form h2{font-weight:400;font-size:15px;}
#userName,#conBox{color: #cccccc;border:1px solid #d0d0d0;border-radius:6px;padding:3px 5px;font:14px/1.5 arial;}
#userName.active,#conBox.active{border:1px solid #7abb2c;}
#userName{height:20px; }
#conBox{width:448px;resize:none;height:65px;overflow:auto;}
#msgBox form div{position:relative;color:#999;margin-top:10px;}
#msgBox img{border-radius:3px;}
#sendBtn{border:0;width:112px;height:30px;cursor:pointer;margin-left:10px;font-size:20px;color:#f5f5f5;background:darkgrey;border-radius: 10px}
#sendBtn.hover{background-position:0 -30px;}
#msgBox form .maxNum{font:26px/30px Georgia, Tahoma, Arial;padding:0 5px;}
#msgBox .list{width: 100%;height: 340px;position: relative;overflow: hidden}
#msgBox .list h3{position:relative;left:0;top:0;height:33px;font-size:12px;font-weight:400;background:#e3eaec;border:1px solid #dee4e7;}
#msgBox .list h3 span{position:absolute;left:6px;top:6px;background:#fff;line-height:28px;display:inline-block;padding:0 15px;}
#msgBox .list ul{
    width: 100%;
    height: 340px;
    overflow:scroll;zoom:1;}
#msgBox .list ul li{float:left;clear:both;width:100%;border-bottom:1px dashed #d8d8d8;padding:8px 0;background:#fff;overflow:hidden;}
#msgBox .list ul li:hover{background:#f5f5f5;}
#msgBox .list .userPic{float:left;width:50px;height:50px;display:inline;margin-left:10px;border:1px solid #ccc;border-radius:3px;}
#msgBox .list .content{float:left;width:90%;font-size:12px;margin-left:10px;font-family:arial;word-wrap:break-word;}
#msgBox .list .userName{display:inline;padding-right:5px;}
#msgBox .list .userName a{color:#2b4a78;}
#msgBox .list .msgInfo{display:inline;word-wrap:break-word;}
#msgBox .list .times{color:#889db6;font:12px/18px arial;margin-top:5px;overflow:hidden;zoom:1;}
#msgBox .list .times span{float:left;}
#msgBox .list .times a{float:right;color:#889db6;display:none;}
.tr{overflow:hidden;zoom:1;}
.tr p{
    float:right;
    line-height:30px;
    padding-right: 10px;
}
.tr *{float:left;}
.m_contact{
    width: 100%;
    height: 510px;
    background: white;
    overflow: hidden;
}
.m_contact ul{
    width: 100%;
    height: 500px;
    padding-top: 10px;
}
.m_contact ul li{
    width: 25%;
    height: 490px;
    -border: 1px solid blue;
    float: left;
}
.m_contact ul li p{
    width: 100%;
    height: 15%;
    -border: 1px solid yellow;
    font-size: 40px;
    line-height: 80px;
    font-weight: bold;
    float: left;
}
.m_contact ul li p span{
    font-size: 35px;
}
.m_contact ul li p img{
    width: 50px;
    height: 50px;
    float: left;
    padding-top: 20px;
}
.m_contact ul li img{
    width: 100%;
    height: 70%;
}

.worksShow{
    width: 100%;
    height: 25px;
    background: url("../image/worksShow_bg_1.png") repeat-x ;
    position: relative;
}
.footer{
    z-index: 100;
    width: 1012px;
    height: 148px;
    background: #000;
    margin-top: -2px;
    padding-top: 10px;
    padding-left: 25%;
}
.footer a{
    display: block;
    width: 110px;
    height: 12px;
    float: left;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    font-family: "Microsoft YaHei";
    text-align: center;

}
.back {
    z-index: 101;
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 30px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    padding-top: 20px;
    background: #1CAF9A url(../image/back.png) no-repeat 3px top;
    border-radius: 10px;
    cursor: pointer;
}

/*效果展示*/
div.show{
    visibility: hidden;
    /*display: none;*/
    z-index: 1;
    width: 100%;
    height: 642px;
    float: left;
    opacity: 1;
    background: white;
    overflow: hidden;
    position:fixed ;
    left: 0;
    top:0;
}
div.show p{
    width: 25px;
    height: 25px;
    background: #ff5854;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #555555;
    position: fixed;
    right:0;
    top:0;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    color:white;
}
/*照片墙*/
.show img{
    border: none;
}
.show .photoWall{
    position: relative;
    width:662px;
    height: 410px;
    margin: 100px auto;
    border: 1px solid black;
}
.show ul{
    width: 652px;
    height: 400px;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
}
.show ul li{
    float: left;
    width: 190px;
    height: 106px;
    margin: 10px;
    border: 2px solid white;
}
.active{
    border: 2px dashed red;
}

/*放大镜*/
div.show img{
    border: none;
}
div.show .outer{
    width: 190px;
    height: 106px;
    border: 1px solid #000000;
    margin: 80px auto;
    position: relative;
}
div.show .outer span{
    display: block;
    width: 80px;
    height: 60px;
    position: absolute;
    top:0;
    left: 0;
    background: #ff5555;
    opacity: 0.5;
}
div.show .biger{
    width: 320px;
    height: 240px;
    margin: 20px auto;
    position: relative;
    border: 1px solid #000000;
    overflow: hidden;
}
div.show .biger .imgs{
    width: 100%;
    height: 100%;
    position: absolute;
}
div.show .outer img{
    width: 190px;
    height: 106px;
}
div.show .biger .imgs img{
    width: 1024px;
    height: 802px;
    position: absolute;
    left: 0;
    top:0;
}

/*!*图片展示*!*/
.show #showpic { overflow:hidden; position:relative; width:900px; height:600px; border:1px solid red; margin:20px auto; }
.show #showpic ul{ position:absolute; top:50%; margin-top:-160px; width:3030px; height:300px; left:0; overflow: visible;

    margin-left: -50px;
}
.show #showpic ul li { position:relative; float:left; width:400px; height:300px; list-style:none; }
/*.show #showpic ul li span { position:absolute; width:100%; height:100%; line-height:300px; background:rgba(255, 255, 255, 0.5); text-align:center; font-size:100px; color:yellow; }*/
.show #showpic ul li img { display:block; width:100%; }

#line { position:absolute; top:0; left:50%; width:0; height:100%; border-left:1px solid red; }

/*手风琴*/
div.show #ulfc { -overflow:hidden; position:relative; width:900px; height:305px; border:1px solid red; margin:50px auto; }
div.show #ulfc li { position:absolute; top:0; left:0; width:840px; list-style:none;border: none;

    margin: 0;
    padding: 0;
}
div.show #ulfc li span { position:absolute; top:0; left:0; width:20px; height:205px; padding-top:100px; }
div.show #ulfc li img { width:840px; height:305px;border: none; }

/*手机效果*/

div.photoWall img{
    border: none;
}
div.photoWall{
    width:662px;
    height: 410px;
    margin: 100px auto;
    border: 1px solid black;
}
#ulphoto{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
}
#ulphoto li{
    float: left;
    width: 190px;
    height: 106px;
    margin: 10px;
    border: 2px solid white;
}
.active{
    border: 2px dashed red;
}

/*拉钩*/
#lagou{ width:400px; height:100%; margin:200px auto;}
#lagou div { overflow:hidden; position:relative; float:left; margin:2px; width:100px; height:100px; background:#ccc; }
#lagou div span { position:absolute; top:0; left:-150px; width:100%; height:100%; background:green; opacity:0.3; }

/*日历*/

.calendar { position:absolute; width:280px; border:1px solid red; font-size:24px;
    margin: 100px 500px;
    color: orangered;
    background: url("../img/18.jpg") no-repeat;
}
.calendar a { position:absolute; top:0; width:40px; height:40px; line-height:40px;
    text-decoration:none;
    text-align:center; }
.calendar a:active { color:red; }
.calendar .prev { left:0;}
.calendar .next { right:0; }

.calendar span { display:block; height:40px; line-height:40px; text-align:center; }
.calendar ul{
    width: 280px;
    height: auto;
    margin-left: 1px;
}
.calendar ul,.calendar ol { overflow:hidden; }
.calendar ol li { list-style:none; float:left; width:40px; height:40px; line-height:40px; text-align:center;border: none; }
.calendar ul li{
    list-style:none; float:left; width:20px; height:20px; line-height:20px; text-align:center;border: none;
}
.week { color:red; }
.past { color:#ccc; }
.today { color:blue; font-size:12px; }

/*自动播放选项卡*/
#tabauto{ position:relative; overflow:hidden;  width:640px; height:270px; margin:50px auto; }
#tabauto ul{ position:relative; left:0; float:left;width:3840px; height:100%;margin: 0;padding: 0;}
#tabauto ul li{ float:left;display: block;
    width: 640px;
    height: 270px;
margin: 0;
border: none;
padding: 0;
}
#tabauto ul li a{
    display: block;
    width: 640px;
    height: 270px;

}

#tabauto ul li a img{
    width: 640px;
    height: 270px;
    border: none;
}
#tabauto ol{ position:absolute; bottom:20px; left:40%;}
#tabauto ol li{ float:left; width:20px; height:20px; background:red;  margin-left:10px; text-align:center; cursor:pointer;}
#tabauto ol li a{ text-decoration:none; color:#fff;}
#tabauto ol li.on{ background:blue;}
#forward{ position:absolute; left:0; top:105px; width:45px; height:60px; display:none; z-index:100; background:#ccc url(../image/btn_l.png) no-repeat  center; opacity:0.8;}
#backward{position:absolute; right:0; top:105px; width:45px; height:60px; display:none; z-index:100; background: #ccc url(../image/btn_r.png) no-repeat center; opacity:0.8;}
#backward.on,#forward.on{ display:block;}


/*跟随鼠标移动*/
#fllow{
    width: 200px;
    height: 200px;
    background: url("../img/0.jpg") no-repeat;
    background-size: cover;
    margin: 50px auto;
    position: relative;
}
#fllow span{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/0.jpg") no-repeat;
    background-size: cover;
    opacity: 0.6;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
}
/*智能社官网效果*/
#btn{
    width: 50px;
    height: 30px;
    position: fixed;
    left: 360px;
    top: 50px;

}
#photoList{
    width:642px;
    height: 390px;
    margin: 100px auto;
    border: 1px solid black;
}
#photoList li{
    float: left;
    width: 190px;
    height: 106px;
    margin: 10px;
    border: 2px solid white;
}
#photoList li img{
    width: 190px;
    height: 106px;
    border: none;
}




